.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    transition: color 0.3s ease-in-out; /* Add transition for smooth effect */
}

.logo a:hover {
    color: white; /* Change color to white on hover */
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    position: relative;
    padding: 5px 0; /* Add padding for background effect */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: var(--radius); /* Add border-radius for rounded corners */
}

#menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0; /* Adjust position to be at the bottom of the padding */
    left: 50%; /* Start from center */
    transform: translateX(-50%); /* Center the underline */
    background-color: var(--primary); /* Use primary color for underline */
    transition: width 0.3s ease-in-out;
}

#menu a:hover {
    color: white; /* Change text color on hover */
     /* Change background color on hover */
    transform: translateY(-2px); /* Slight lift effect */
}

#menu a:hover::after {
    width: 100%;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
